@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background: #19191a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }
  
  .container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    margin-right: 0.5rem;
  }
  
  .nav-menu {
    display: flex;
    align-items:center;
    justify-content:center;
    list-style: none;
    text-align:center;
    justify-content: flex-end;
  }
  
  .nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
    margin-right: auto;
  }
  
  .nav-item:hover {
    border-bottom: 2px solid #09bef0;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .activated {
    color: #09bef0;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #19191a;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      color: #09bef0;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }

    #lastChildItem {
      margin-right: auto;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  .loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0%;

  }

  .form {
    width: 25%;
    padding: 30px;
    box-shadow: 1px 1px 22px white ;
    border-radius: 15px;
    height: 50%;
    background-color: #000;
  }

  .loginHeader {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
  }

  .label1 {
    display: block;
    margin-bottom: 20px;
    color: #666666;
  }

  .label2 {
    display: block;
    margin-bottom: 20px;
    color: #666666;
  }

  #userInput{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  .input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    font-size: 16px;
    color: #333333;
  }

 .input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

  .button {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
  }

  .button:hover {
    background-color: #666666;
  }

  .bookDetails{
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  #bookImage{
    margin-top: 50px;
    margin-bottom: 40px;
    border: 25px black double;
    padding:20px;
    background-color: #fff;
  }

  #bookDes{
    width: 700px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px black solid;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
  }

  #bookAuthorImage{
    margin-left: -800px;
    border: 15px black double;
    padding:15px;
    background-color: #fff;
  }
  
  #authorAbout{
    width: 500px;
    margin-top: -155px;
    padding-bottom: 50px;
    border: 5px black solid;
    padding: 15px;
    margin-bottom: 25px;
    background-color: #fff;
  }

  .bookTags{
    padding-top: 40px;
    padding-bottom: 45px;
    justify-items: center;
  }

  #backButton{
    padding: 8px;
   margin-left: 200px;
   font-size: 25px;
   border-radius: 15px;
  }

  #addCartButton{
    padding: 8px;
    margin-top: -48px;
    margin-bottom: 50px;
   margin-left: -200px;
   font-size: 25px;
   border-radius: 15px;
  }

  #addCartButton:hover{
    background-color: #666666;
  }

  #backButton:hover{
    background-color: #666666;
  }
  .footer {
    background-color: #1d1d1d;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .footer__content {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }